@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.header-container{
    height:2rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem ;

}
.header-container img{
    width:13rem
}

.header-options{
    gap: 1rem;
    display: flex;
}

.main-h,.home-h2{
font-family: 'Prata', serif;
}
